<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.yendoplan.no_backup_shared_preferences">
    <application
        android:fullBackupContent="@xml/no_backup_shared_preferences_backup_rules"
		android:dataExtractionRules="@xml/no_backup_shared_preferences_extraction_rules">
		>
    </application>
</manifest>
